---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
    <div>
      {% if post.image %}
      <div class="catalogue-image" style="background-image: url('{{ post.image | prepend: site.baseurl }}');"></div>
      {% endif %}
      <h2 class="catalogue-title">{{ post.title }}</h2>
      <div class="catalogue-line"></div>
      <p>
        {{ post.content | strip_html | truncatewords: 30 }}
      </p>
      <div class="catalogue-extra-info">
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <span class="catalogue-minutes">About {{ post.minutes }} minute read</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>