<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include navigation.html %}

  {% if page.image %}
  <div class="post-image" style="background-image: url('{{ page.image }}');"></div>
  {% endif %}

  <main>
    <div class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-info">
        <time datetime="{{ page.date }}" class="post-info-time">{{ page.date | date: "%B %d, %Y" }}</time>
        <span class="post-info-minutes">About {{ page.minutes }} minute read</span>
      </div>
      <div class="post-line"></div>
      {{ content }}
    </div>

    {% if page.comments %}
    {% include disqus_comments.html %}
    {% endif %}

    <div class="pagination">
      {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      {% endif %}
      {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      {% endif %}

      <a href="#" class="top">Top</a>
    </div>
  </main>

  {% include footer.html %}
</body>

</html>